{% extends 'app/base.html' %}
{% load static %}
{% block title %}Detil Produk{% endblock title %}

{% block main-content %}
<!-- <h1>Detil Produk {{barang}}</h1> -->
<div class="container">
    <div class="row flex justify-content-between">
        <div class="img2 col-lg-5 mt-5">
            <img src="{{barang.foto.url}}" class="image col-xs-6 col-sm-12 col-lg-12 text-sm-center w-100 h-75" alt="">
        </div>
        <div class="detilbarang col-lg-5">
            <h1 style="font-family: Georgia; font-size: 50px;">{{barang.nama}}</h1>
            <h5>Rp{{barang.harga}}</h5>
            <br><br><br><h4>DETIL PRODUK</h4>
            <ul class="fs-5" style="font-family: Rajdhani;">
                <li>{{barang.deskripsi}}</li>
            </ul>
                
                    <form action="/add-to-cart" class="d-inline">
                        <input type="hidden" name="prod_id" value="{{barang.id}}">
                        <button type="submit" class="btn btn-primary shadow px-5 py-2">Add to Cart</button>
                    </form>
                    <a href="{% url 'showcart' %}" class="btn btn-warning shadow px-5 py-2 ms-4">Buy Now</a>
                <!-- {% if wishlist %}
                    <a pid={{barang.id}} class="minus-wishlist btn btn-danger shadow px-5 py-2 ms-4"><i class="fas fa-heart fa-lg"></i></a>
                {% else %}
                    <a pid={{barang.id}} class="plus-wishlist btn btn-success shadow px-5 py-2 ms-4"><i class="fas fa-heart fa-lg"></i></a>
                {% endif %} -->
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}