{% extends 'app/base.html' %}
{% load static %}
{% block title %}Kategori{% endblock title %}

{% block main-content %}
<!-- <h1>Kategori: {{barang}}</h1> -->
<div class="container my-5">
    <div class="row">
        <div class="col-sm-3">
            <div class="list-group">
                {% for val in nama %}
                    <a href="{% url 'kategori_nama' val.nama %}" class="list-group-item list-group-item-action" aria-current="true">{{val.nama}}</a>
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-9">
            <div class="row">
                {% for prod in barang %}
                    <div class="col text-center mb-4">
                        <a href="{% url 'detil_barang' prod.id %}" class="btn">
                            <div>
                                <img src="{{prod.foto.url}}" width="300px" height="200px" alt=""/>
                                <div class="fw-bold">{{prod.nama}}</div>
                                <small class="fw-light ">Rp
                                    {{prod.harga}},-
                                </small>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock main-content %}